* {
	scrollbar-width: auto;
	text-shadow: 0 1px 2px black;
}
.mx_EventTile[data-layout="bubble"]:not(.mx_EventTile_noBubble) .mx_EventTile_line:not(.mx_EventTile_mediaLine) {
	padding: calc(var(--gutterSize) - 1px);
	padding-right: 60px;
	background: var(--backgroundColor);
	background: radial-gradient(at top,hsl(0, 0%, 19.3%) ,hsl(0, 5.7%, 9.4%));
	box-shadow: #000 0 0px 2px, #ffffff0a 0 1px 0px inset;
}

.mx_SpacePanel {
	background: linear-gradient(to right,hsl(0, 64%, 12.4%) ,hsl(267, 20.3%, 13.6%));
	
	outline: #000 1px solid;
	box-shadow: #ffffffba -1px 0px 4px,#000c -1px 0px 0px inset;
	background: linear-gradient(to right,hsl(225.7, 12.3%, 10.7%) ,hsl(232.5, 13%, 5.8%));
}.mx_EventTile[data-layout="bubble"]:not(.mx_EventTile_noBubble) .mx_EventTile_line:not(.mx_EventTile_mediaLine) {
	padding: calc(var(--gutterSize) - 1px);
	padding-right: 60px;
	/* background: var(--backgroundColor); */
	/*background: repeating-linear-gradient(45deg, #0a0b1f 0, #0a0b1f 0.4px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%),repeating-linear-gradient(45deg, #ffffff14 0, #fff 0.4px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%),radial-gradient(at top,hsla(0, 0%, 19.2%, 0) ,hsla(0, 4.2%, 9.4%, 0));*/
	box-shadow: #000 0 1px 2px, #ffffff0a 0 1px 0px inset;
	/* background-color: rgba(0, 0, 0, 0); */
	/* opacity: 1; */
	/*background-size: 8px 8px,8px 8px,3px 3px;*/
	/* background-image: repeating-linear-gradient(45deg, #0a0b1f 0, #0a0b1f 0.4px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%); */
	/*background-position: 0,1px 1px ,0;*/

}.mx_EventTile[data-layout="bubble"]:not(.mx_EventTile_noBubble) .mx_EventTile_line:not(.mx_EventTile_mediaLine) {
	padding: calc(var(--gutterSize) - 1px);
	padding-right: 60px;
	/* background: var(--backgroundColor); */
	/*background: repeating-linear-gradient(45deg, #0a0b1f 0, #0a0b1f 0.4px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%),repeating-linear-gradient(45deg, #ffffff14 0, #fff 0.4px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%),radial-gradient(at top,hsl(0, 0%, 19.2%) ,hsl(0, 4.2%, 9.4%));*/
	box-shadow: #000 0 1px 2px, #ffffff0a 0 1px 0px inset;
	/* background-color: rgba(0, 0, 0, 0); */
	/* opacity: 1; */
	/*background-size: 8px 8px,8px 8px,3px 3px;*/
	/* background-image: repeating-linear-gradient(45deg, #0a0b1f 0, #0a0b1f 0.4px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%); */
	/*background-position: 0,1px 1px ,0;*/
	}
.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_icon::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 18px;
    mask-size: 18px;
    filter: drop-shadow(0 0 2px red);
	}
    .mx_LeftPanel .mx_LeftPanel_roomListContainer .mx_LeftPanel_filterContainer .mx_LeftPanel_exploreButton, .mx_LeftPanel .mx_LeftPanel_roomListContainer .mx_LeftPanel_filterContainer .mx_LeftPanel_recentsButton:active {
	height: 32px;
	border-radius: 8px;
	background-color: rgba(141, 151, 165, 0.2);
	position: relative;
	margin-left: 8px;
	/* background: hsl(207.3, 13.9%, 30.5%); */
	background: linear-gradient(hsl(207.7, 13.7%, 30.7%),hsl(212.7, 14.7%, 20.7%));
	/* box-shadow: #000 0 1px 4px , #fff0 0 0 3px inset, #ffffff14 0 1px 0px inset; */
		/* box-shadow: #000 0 1px 3px inset, #ffffff24 0 0 5px 0px, #ffffff14 0 1px 0px; */
	/* --shadow-color: 208.8deg 21% 6%; */
	/* box-shadow: 0px 0.9px 1.1px hsl(var(--shadow-color) / 0.3), 0px 1.6px 1.9px -1px hsl(var(--shadow-color) / 0.34), 0.1px 3.7px 4.4px -2px hsl(var(--shadow-color) / 0.38); */
	/* --shadow-color: 208deg 21% 6%; */
	/* box-shadow: 0px 0.9px 1.1px inset hsl(var(--shadow-color) / 0.3), 0px 1.6px 1.9px -1px inset hsl(var(--shadow-color) / 0.34), 0.1px 3.7px 4.4px -2px inset hsl(var(--shadow-color) / 0.38), #ffffff1c 0 1px 0px ,hsl(202.5, 5.3%, 21.4%) 0 0 0px 1px; */
}

.mx_HomePage_default .mx_HomePage_default_buttons .mx_AccessibleButton {
	padding: 73px 8px 15px;
	width: 160px;
	min-height: 132px;
	margin: 20px;
	position: relative;
	display: inline-block;
	border-radius: 8px;
	vertical-align: top;
	word-break: break-word;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #fff;
	background-color: #0dbd8b;
	box-shadow: #000 0 1px 4px 2px,#ffffff18 0 0px 8px 0px inset, #fff3 0 1px inset;
	background: linear-gradient(#ffffff4f,#00000042),radial-gradient(at top,#0ff,#007995);
	transition: all .25s ease;
	outline: 2px #3daee900 solid;
	outline-style: ridge;
	outline-offset: 0px;
	}
	.mx_HomePage_default .mx_HomePage_default_buttons .mx_AccessibleButton:hover {
	background: linear-gradient(#ffffff0f,#ffffff0f),linear-gradient(#ffffff4f,#00000042),radial-gradient(at top,#0ff,#007995);
	box-shadow: 0 0 16px #00e7ff1f,#000 0 1px 4px 2px,#ffffff18 0 0px 8px 0px inset, #fff3 0 1px inset;
	outline-color: #3daee9;
	outline-offset: 5px;
}
.mx_LeftPanel .mx_LeftPanel_roomListContainer .mx_LeftPanel_filterContainer .mx_LeftPanel_exploreButton, .mx_LeftPanel .mx_LeftPanel_roomListContainer .mx_LeftPanel_filterContainer .mx_LeftPanel_recentsButton:active {
	height: 32px;
	border-radius: 8px;
	background-color: rgba(141, 151, 165, 0.2);
	position: relative;
	margin-left: 8px;
	/* background: hsl(207.3, 13.9%, 30.5%); */
	background: linear-gradient(hsl(207.7, 13.7%, 30.7%),hsl(212.7, 14.7%, 20.7%));
	/* box-shadow: #000 0 1px 4px , #fff0 0 0 3px inset, #ffffff14 0 1px 0px inset; */
	/* box-shadow: #000 0 1px 3px inset, #ffffff24 0 0 5px 0px, #ffffff14 0 1px 0px; */
	/* --shadow-color: 208.8deg 21% 6%; */
	/* box-shadow: 0px 0.9px 1.1px hsl(var(--shadow-color) / 0.3), 0px 1.6px 1.9px -1px hsl(var(--shadow-color) / 0.34), 0.1px 3.7px 4.4px -2px hsl(var(--shadow-color) / 0.38); */
	/* --shadow-color: 208deg 21% 6%; */
	/* box-shadow: 0px 0.9px 1.1px inset hsl(var(--shadow-color) / 0.3), 0px 1.6px 1.9px -1px inset hsl(var(--shadow-color) / 0.34), 0.1px 3.7px 4.4px -2px inset hsl(var(--shadow-color) / 0.38), #ffffff1c 0 1px 0px ,hsl(202.5, 5.3%, 21.4%) 0 0 0px 1px; */
}.mx_AccessibleButton.mx_HomePage_button_sendDm:active:hover {
	box-shadow: #000 0 1px 4px 1px inset,0 2px 10px #00000070 inset,#ffffff3b 0 0px 24px 0px , #fff3 0 1px;
	outline-color: palegoldenrod;
	outline-offset: 0;
}
	/*!!!!!!!!!!!!!!!!!!!!!!!!!!CHECKED!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	/*(git) message timestamp--- moved 5px */
.mx_EventTile.mx_EventTile_info[data-layout="bubble"] .mx_EventTile_line > a {
		left: -72px;
}
	/*end*/
	
	/*Read-marker --- makes it bigger + display permanent &START&*/
hr.mx_RoomView_myReadMarker {
	border-top: 1px solid #0dbd8b;
	border-bottom: 1px solid hsl(163, 87.1%, 31.6%);
	margin-top: 0px;
	position: relative;
	top: -1px;
	z-index: 1;
	will-change: width;
	-webkit-transition: width easeinsine .4s 1s,opacity easeinsine .4s 1s;
	transition: width easeinsine .4s 1s,opacity easeinsine .4s 1s;
	width: 99% !important;
	opacity: 1 !important;
	height: 1px;
	border-radius: 20px;
	background: hsl(163, 87.1%, 35.6%);
	border-width: 1px 0 1px 0;
}
    
    /*&END&*/

	/*Context Menu + Line in inside it --- looks better &START& */
	
	
	    .mx_ContextualMenu {

	box-shadow: 0px 0px 12px 0 #000,0 0 0px 1px #ffffff05 inset,0 1px 0px 0px hsla(0, 0%, 100%, 0.06) inset;
	background: linear-gradient(hsl(208.6, 22.1%, 18.6%),hsl(220.7, 14.7%, 10.7%));
}
    .mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_IconizedContextMenu_optionList_notFirst::before, .mx_IconizedContextMenu .mx_IconizedContextMenu_optionList:nth-child(n+2)::before {
	border-top: 1px solid #ffffff0d;
	opacity: 1;

	box-shadow: 0px -1px 0 #0000008c;

}
	/*&END&*/
	
	
	/*Texture dots background in chat window + behind right panel &START& */
	.mx_MatrixChat > :not(.mx_LeftPanel):not(.mx_SpacePanel):not(.mx_ResizeHandle):not(.mx_LeftPanel_outerWrapper) {
	background-color: #15191e;
	background-image: radial-gradient(#0000006e 0.75px, transparent 0.75px), radial-gradient(#0000006e 0.75px, rgba(0, 0, 0, 0) 0.75px),radial-gradient(#ffffff08 0.75px, #0000 0.75px), radial-gradient(#ffffff08 0.75px, rgba(0, 0, 0, 0) 0.75px);
	background-size: 6px 6px,6px 6px;
	background-position: 0 0px,3px 9px,12px -11px,3px 4px;
	
}
	/*&END&*/
	
	.mx_MatrixChat > .mx_ResizeHandle_horizontal:hover::before {
	
	/*background: linear-gradient(to right, hsl(329.2, 65%, 36.7%),hsl(0, 65%, 50%),hsl(329.2, 65%, 36.7%));*/
	background: linear-gradient(to right, hsl(329.2, 42%, 36.7%),hsl(0, 63%, 50%),hsl(329.2, 42%, 36.7%));
	box-shadow: #ffffff3d 0 1px 0px 0px inset, #000 0 1px 3px 0px;
}
.mx_MainSplit > .mx_RightPanel_ResizeWrapper:hover .mx_ResizeHandle_horizontal::before {
	background: linear-gradient(to right, hsl(329.2, 42%, 36.7%),hsl(0, 63%, 50%),hsl(329.2, 42%, 36.7%));
	box-shadow: #ffffff3d 0 1px 0px 0px inset, #000 0 1px 3px 0px;
}

	
	.mx_MessageComposer_wrapper{
background: hsl(213.3, 17.6%, 7%);
box-shadow: #000000e3 0 -1px 3px 0px, #ffffff05 0px -0 0px 1px inset, #ffffff08 0 1px inset;
border-radius: 0 4px 0 0;
border: 0;
}
	/*Space-panel scrollbar overlap -fix- &START& */
.mx_SpacePanel > .mx_AutoHideScrollbar {
	flex: 1;
	padding: 0 8px 16px 0;
	scrollbar-width: thin;
}
	/*&END&*/
	
	
	/*leave/join not in chat bubbles &START& */
	.mx_GenericEventListSummary[data-layout="bubble"] .mx_EventTile.mx_EventTile_info .mx_EventTile_line {
	background: none !important;
	box-shadow: none !important;
}
    /*&END&*/
	
	/*msg improve*/
	.mx_MessageComposer_wrapper {
	background: linear-gradient(to right,hsl(210, 16.7%, 8.1%) 0%,hsl(210, 16.7%, 8.1%) 5%,95%,hsl(210, 16.7%, 8.1%) );
	background: hsl(210, 16.6%, 10%);
	box-shadow: #000000e3 0 -1px 3px 0px, #ffffff05 0px -0 0px 1px inset, #ffffff08 0 1px inset;
	border-radius: 4px 4px 0 0px;
	border: 0;
	/* background: #1d232a; */
	/* box-shadow: #000000e3 0 -1px 3px 0px, #ffffff0d 0px -0 0px 1px inset, #ffffff0a 0 1px inset,-11px 0px #f000; */
	/* border-radius: 7px; */
	margin: 0px 6px 0 7px;
	z-index: 36;
	/* background: linear-gradient(to right, #22252b , #1d232a 30px); */
}
	.mx_MatrixChat--with-avatar .mx_LeftPanel, .mx_MatrixChat--with-avatar .mx_LeftPanel .mx_LeftPanel_roomListContainer {
	background-color: transparent;
	box-shadow: -1px 0px 0px #ae888808 inset,0 0 5px #0010ff;
	/* z-index: 9; */
}
	.mx_LeftPanel_outerWrapper, .mx_LeftPanel_wrapper {
	
	display: flex;
	-webkit-box-direction: normal;
	box-shadow: 1px 0px 4px #00000082;
	z-index: 1;
}
	
	/*end*/


	/*SLOTS START*/
				/*S1:&START& smooth icons*/


.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_IconizedContextMenu_item .mx_IconizedContextMenu_icon, .mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_IconizedContextMenu_item img {

	filter: drop-shadow(0 1px #000) drop-shadow(0 1px 1px #00000070) drop-shadow(0 0px 3px #001d916e);
}
.mx_IconizedContextMenu .mx_IconizedContextMenu_icon::before {

	background-color: #a9b2bc;
	background: linear-gradient(to bottom ,hsl(211, 12%, 77%),hsl(211, 12%, 57.4%)),linear-gradient(#ffffff4f,#0000),radial-gradient(at center,#b9b9b9,hsl(0, 0%, 29%));
	/* filter: drop-shadow(0 2px 1px red); */
}

/*for red*/
.mx_IconizedContextMenu .mx_IconizedContextMenu_option_red .mx_IconizedContextMenu_icon::before {
	background: linear-gradient(to bottom ,hsl(0, 100%, 76.9%),hsl(0, 100%, 50.3%)),linear-gradient(#ffffff4f,#0000),radial-gradient(at center,#b9b9b9,hsl(0, 0%, 29%));
background: linear-gradient(#ff212b,hsl(0, 79.5%, 47.8%));
background: linear-gradient(to bottom ,hsl(0, 70%, 70.9%),hsl(0, 90%, 50.3%)),linear-gradient(#ffffff4f,#0000),radial-gradient(at center,#b9b9b9,hsl(0, 0%, 29%));
}
		/*S1:&END&*/

				/*S2:&START& buttons bigger right panel*/
				
		/*S2:&END&*/

				/*S3:&START&*/

		/*S3:&END&*/

				/*S4:&START&*/

		/*S4:&END&*/

				/*S5:&START&*/

		/*S5:&END&*/

				/*S6:&START&*/

		/*S6:&END&*/

				/*S7:&START&*/

		/*S7:&END&*/

				/*S8:&START&*/

		/*S8:&END&*/

				/*S9:&START&*/

		/*S9:&END&*/

				/*S10:&START& scrollb-fix*/


.mx_MainSplit > .mx_RightPanel_ResizeWrapper {
	padding: 8px 8px 8px 9px;
	
}
.mx_ResizeHandle_horizontal {
	left: 0 !important;
}
		/*S10:&END&*/
	/*SLOTS END*/
	

	/*floating date-sep*/
	.mx_DateSeparator > hr {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	height: 0;
	border: none;
	border-bottom: 1px solid #343a46;
	/* border-top: 1px #535353 solid; */
	box-shadow: 0 0 2px 0.5px #0009;
}
	/*end*/
